<html>

  <header class="masthead">

    <nav class="language-nav">
      <a id="first">CSS</a>  
      <a>HTML</a>  
      <a>Javascript</a>
      <a>Ruby</a>
    </nav>

    <img src="assets/AA_Times_Logo.png" alt="App Academy Times Logo">


    <section class="masthead-links">
      <li>Tuesday, October 18, 2016</li>
      <li><i class="far fa-newspaper"></i><a>Today’s Paper</a></li>
      <li id="video"><i class="fas fa-video"></i><a>Video</a></li>
      <li>77°F</li>
      <li id="last">AAO +100%</li>
    </section>

  </header>

</html>  


