.sections-nav {
  display: flex;
  justify-content: space-around;
  margin-left: 100px;
  margin-right: 100px;
}

.sections-nav a:hover {
  background-color: #e2e2e2;
  text-decoration: none;
}

.sections-nav a:last-child:hover {
  text-decoration: underline;
}
